<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<h2>Category List</h2>
<p>
    <a th:href="@{/category/create}">Add new blog</a>
</p>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${categoryList}">
            <td th:text="${row.idC}"></td>
            <td th:text="${row.nameC}"></td>
            <td>
                <button class="btn btn-outline-danger"><a style="text-decoration: none"
                                                          th:href="@{/category/{id}/edit(id=${row.idC})}">Edit</a></button>
            </td>
            <!--        <td><a th:href="@{/blog/{id}/edit(id=${row.id})}">edit</a></td>-->

            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#category' + ${row.idC}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="category + ${row.idC}" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete product <span class="text-info" th:text="${row.nameC}"></span>
                                with id = <span class="text-info" th:text="${row.idC}"></span>
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/category/delete(id=${row.idC})}" class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">

</script>
</body>
</html>